@import '../../assets/styles/common.scss';

.index {
  padding: 1rem;
  background-color: $darkJungleGreen;

  .header {
    position: relative;

    .input-box {
      display: flex;
      align-items: center;
      background-color: $grey;
      padding: $paddingGap;
      border-radius: $borderRadius;

      .search {
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
      }

      input {
        flex: 1;
        padding: 0.5rem;
      }

      .close {
        height: 60px;
        width: 60px;
      }

      .loading {
        height: 30px;
        width: 30px;
        color: $darkJungleGreen;
        @include loading;
      }
    }

    .no-suggestions {
      display: none;
    }

    .suggestions {
      background: $lightWhite;
      font-size: 1rem;
      transition: height 1s ease;
      max-height: 20rem;
      width: auto;
      position: absolute;
      left: 0;
      right: 0;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.2);
      z-index: 10;

      .suggestion {
        position: relative;
        padding: 1rem 1rem;
        border-bottom: 0.5px solid $champagnePink;
        overflow: hidden;

        &:hover, &:focus, &:active {
          color: $niagara;
        }

        &:last-child {
          border-bottom: none;
        }

        .value {
          margin-right: 0.5rem;
          @include nobreak;
        }

        .label {
          font-size: 0.6rem;
          color: darken($color: $lightWhite, $amount: 30%);
          @include nobreak;
        }
      }
    }
  }

  .no-history {
    display: none;
  }

  .history {
    border-radius: $borderRadius;
    background-color: $lightWhite;
    color: $darkJungleGreen;
    margin: 1rem 0;
    box-sizing: border-box;
    position: relative;
    max-height: 26rem;
    overflow: hidden;

    @include title;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 1rem 1rem 0 1rem;

      .clear-history {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .item {
      margin: 0.5rem 0;
      color: $tapueGray;
      font-size: 1.2rem;
      padding: 0 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}