@import '../../assets/styles/common.scss';

.index {
  padding: $paddingGap $paddingGap 2*$paddingGap $paddingGap;
  background-color: $darkJungleGreen;

  .header {
    .input-box {
      display: flex;
      align-items: center;
      background-color: $grey;
      padding: $paddingGap;
      border-radius: $borderRadius;

      .search {
        height: 40px;
        width: 40px;
        margin-right: $paddingGap;
      }

      input {
        flex: 1;
        padding: 10px;
      }

      .close {
        height: 60px;
        width: 60px;
      }
    }
  }
}