@import '../../assets/styles/common.scss';

.index {
  padding: 1rem;
  background-color: $darkJungleGreen;

  .header {
    .input-box {
      display: flex;
      align-items: center;
      background-color: $grey;
      padding: $paddingGap;
      border-radius: $borderRadius;

      .search {
        height: 40px;
        width: 40px;
        position: relative;
        top: -1px;
      }

      input {
        flex: 1;
        padding: 10px;
      }

      .close {
        height: 60px;
        width: 60px;
      }
    }
  }

  .no-history {
    display: none;
  }

  .history {
    padding: 1rem;
    border-radius: $borderRadius;
    background-color: $lightWhite;
    color: $darkJungleGreen;
    margin: 1rem 0;

    @include title;

    .item {
      margin: 0.5rem 0;
      color: $tapueGray;
      font-size: 1.2rem;
    }
  }
}