// Define global variables

// Color
$grey: #eeeeee;
$darkJungleGreen: #172121;
$independency: #444554;
$tapueGray: #7F7B82;
$blackShadow: #BFACB5;
$champagnePink: #E5D0CC;
$lightWhite: #fafafa;
$niagara: #0ca782;

$navbarBackgroundColor: $darkJungleGreen;
$textColor: $lightWhite;

$paddingGap: 20px;
$borderRadius: 7px;

@import './animations.scss';

@mixin title {
  .title {
    color: $niagara;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

@mixin nobreak {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin point5border($color) {
  background-image: linear-gradient(to bottom, $color 0%, $color 51%, transparent 51%);
  background-size: 100% 1px;
}

@mixin loading {
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

page {
  background-color: $darkJungleGreen;
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.hide {
  display: none;
}

:export {
  darkJungleGreen: $darkJungleGreen
}