@import '../assets/styles/common.scss';

.app {
  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .loading {
      height: 3rem;
      width: 3rem;
      animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
  }

  .navbar {
    background-color: $navbarBackgroundColor;
    color: $lightWhite;

    .left {
      display: flex;
      align-items: center;

      .logo, .back {
        height: 1.4rem;
      }

      .brand {
        font-size: 1.1rem;
        color: #e6e6e6;
        font-weight: bold;
      }
    }
  }
}